.form {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.form .textBox {
    border: 1px solid #bbb;
    border-radius: 5px;
    height: 40px;
    margin-right: 10px;
}
.form .textBox .fa {
    margin-right: 5px;
    margin-left: 5px;
    color: #bbb;
}
.form .textField {
    border: none;
    height: inherit;
    padding: 0px;
    border-radius: 5px;
}
.form .textField:focus {
    outline:none;
}
.form .add-btn {
    background-color: skyblue;
    color: white;
    border: 1px solid skyblue;
    border-radius: 5px;
    height: 40px;
    min-width: 60px;
}